<div class="blog-list">
    <% site.posts.reverse().forEach(function(post){ %>
        <div class="blog-card">
            <div class="card-thumb">
                <img src="<%- url_for(post.imagem.replace("./", post.path)) %>">
            </div>
            <div class="card-texto">
                <h4><%- post.title %></h4>
                <small><%- date(post.date) %></small>
                <p><%- truncate(post.content, {length: 340, separator: ' '}) %></p>
                <a href="<%- url_for(post.path) %>">
                    <button>leia +</button>
                </a>
            </div>
        </div>    
    <% }) %>
</div>
<!-- <%- partial('partial/menu-lateral.ejs') %> -->