<div class="grid">
    <div class="home-posts">
        <% site.posts.some(function(post){ %>
            <div class="hpimg">
                <img src="<%- url_for(post.imagem.replace("./", post.path)) %>">
            </div>
            <div class="topo-alt">
                <small>Foto: <%- post.alt %></small>
            </div>
            <div class="hpcontent">
                <h1><%- post.title %></h1>
                <small><%- date(post.date) %></small>
                <p><%- truncate(post.content, {length: 220, separator: ' '}) %></p>
                <a href="<%- url_for(post.path) %>">
                    <button>leia +</button>
                </a>
            </div>
        <% return post.chave === 20180711; %>
        <% }) %>
    </div>
    <div class="home-sobre">
        <p>Somos o INSTITUTO TRILHAS! Uma organização sem fins lucrativos e multidisciplinar. Buscamos levar à sociedade ações de educação, formação e sensibilização no campo da educação socioambiental.</p>
        <a href="/quem-somos/">
            <button>saiba + sobre nós</button>
        </a>
    </div>
    <div class="home-contato">
        <h4>Quer nos acompanhar?</h4>
        <p>Informe seu e-mail abaixo para receber notícias nossas:</p>
        <form action="" name="newsletter" method="POST" netlify>
            <input type="email" name="email" placeholder="email">    
            <button>enviar</button>
        </form>
        
    </div>
</div>