<div class="post-topo">
    <img src="<%- page.imagem %>" alt="<%- page.alt %>">
</div>
<div class="topo-alt">
    <small>Foto: <%- page.alt %></small>
</div>
<div class="post-conteudo">
    <h1><%- page.title %></h1>
    <p class="data"><%- date(page.date) %></p>
    <div class="post-texto"><%- page.content %></div>
</div>